# Scraping Data for used cars:

In [1]:
# importing all required libraries
import pandas as pd
import time
import selenium
# importing selenium webdrivers
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
# importing required exceptions which needs to be handled
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException
import requests
from bs4 import BeautifulSoup

In [2]:
# Extracting path of webdriver
path=Service("C:\\Users\\amitt\\Downloads\\chromedriver_win32\\chromedriver.exe")

# Extracting data of 5000 or more used cars from websites like Olx, Cardekho, Cars24, etc.

* We have to scrape data in following columns
1) Brand
2) model
3) variant
4) manufacturing year
5) driven kilometers
6) fuel
7) number of owners
8) location
9) Price ( which is our target variable)

This data is to give you a hint about important variables in 
used car model. You can make changes to it, you can add or you can remove some columns, it 
completely depends on the website from which you are fetching the data.
Try to include all types of cars in your data for example- SUV, Sedans, Coupe, minivan, 
Hatchback

In [3]:
# lets scrape data from first website olx
driver=webdriver.Chrome(service=path)
# opening the required website
url="https://www.olx.in"
driver.get(url)
time.sleep(2)

Scraping data of cars in Delhi from olx:

In [4]:
# typing cars in search field
s_field=driver.find_element(By.XPATH,"//form[@class='rui-1Azjs _20jkh']/fieldset/div/input")
s_field.send_keys("used cars in delhi")
time.sleep(2)
#Clicking search button
s_btn=driver.find_element(By.XPATH,"//div[@class='_3b3oR']")
s_btn.click()
time.sleep(3)

In [5]:
# Clicking load button to see more cars
for i in range(0,25):
    if i>25:
        break
    else:
        load_btn=driver.find_element(By.XPATH,"//button[@class='rui-39-wj rui-3evoE rui-1JPTg']")
        load_btn.click()
        time.sleep(5)
    i=i+1

In [6]:
# scraping data
brandname1=[]
model1=[]
variant1=[]
manufacturingyear1=[]
fuel1=[]
owner1=[]
location1=[]
price1=[]

In [7]:
 #Scraping car manufacturing year
try:
    for i in driver.find_elements(By.XPATH,"//span[@class='_2TVI3']"):
        manufacturingyear1.append(i.text)
except NoSuchElementException:
    manufacturingyear1.append("----")
    time.sleep(5)
urls=[]
for i in range(0,1):
    if i>1:
        break
    a=driver.find_elements(By.XPATH,"//ul[@class='rl3f9 _3mXOU']/li/a")
    for i in a:
        urls.append(i.get_attribute('href'))
   
    for i in urls:
        driver.get(i)
        time.sleep(2)
        # scraping car brands
        try:
            for i in driver.find_elements(By.XPATH,"//div[@class='_35xN1']"):
                brandname1.append(i.text)
        except NoSuchElementException:
            brandname1.append("----")

        # scraping car model
        try:
            for i in driver.find_elements(By.XPATH,"//div[@class='_3tLee']"):
                model1.append(i.text)
        except NoSuchElementException:
            model1.append("----")
        # scraping car variant
        try:
            for i in driver.find_elements(By.XPATH,"//div[@class='aOxkz']/div[3]"):
                variant1.append(i.text)
        except NoSuchElementException:
            variant1.append("----")
       
        # scraping car fuel type
        try:
            for i in driver.find_elements(By.XPATH,"//div[@class='aOxkz']/div[1]"):
                fuel1.append(i.text)
        except NoSuchElementException:
            fuel1.append("----")
        # scraping car owner no.
        try:
            for i in driver.find_elements(By.XPATH,"//div[@class='_1l939']/div[1]/div[2]/div[2]"):
                owner1.append(i.text)
        except NoSuchElementException:
            owner1.append("----")
        # scraping car location
        try:
            for i in driver.find_elements(By.XPATH,"//div[@class='_1l939']/div[2]/div[2]/div[2]"):
                location1.append(i.text)
        except NoSuchElementException:
            location1.append("----")
        # scraping price of the car
        try:
            for i in driver.find_elements(By.XPATH,"//div[@class='_3FkyT']"):
                price1.append(i.text)
        except NoSuchElementException:
            price1.append("----")

In [8]:
# making dataframe of scraped data from olx
df1=pd.DataFrame(list(zip(brandname1,model1,variant1,manufacturingyear1,fuel1,owner1,location1,price1)),columns=["BrandName","Model","Variant","ManufacturingYear","Fuel type","Owner","Location","Price"])
df1

,BrandName,Model,Variant,ManufacturingYear,Fuel type,Owner,Location,Price
0,Hyundai Santro (2018),Sportz CNG,MANUAL,"2018 - 62,557 km",CNG & HYBRIDS,1st,"Rohini Sector 10, Delhi","₹ 5,76,800"
1,Hyundai Elite I20 (2015),Magna 1.2,MANUAL,"2015 - 52,000 km",PETROL,1st,"New Rajdhani Enclave, Delhi","₹ 4,89,999"
2,Toyota Etios Liva (2014),2013-2014 G Xclusive Edition,MANUAL,"2014 - 33,000 km",PETROL,1st,"Vikaspuri, Delhi","₹ 3,35,000"
3,Hyundai I10 (2009),1.1L iRDE ERA Special Edition,MANUAL,"2009 - 70,000 km",CNG,Second,"Bharthal, Delhi","₹ 1,15,000"
4,Mahindra Xuv500 (2011),2011-2015 W8 4WD,MANUAL,"2011 - 90,000 km",DIESEL,Second,"Daryaganj, Delhi","₹ 5,00,000"
...,...,...,...,...,...,...,...,...
445,Ford Ecosport (2015),1.5 Petrol Titanium Plus AT,AUTOMATIC,"2018 - 41,000 km",PETROL,2nd,"South Extension, Delhi","₹ 5,05,000"
446,Maruti Suzuki Swift (2012),2011-2014 RS VDI,MANUAL,"2010 - 72,000 km",DIESEL,2nd,"Janakpuri, Delhi","₹ 2,80,000"
447,Hyundai I20 Active (2015),S Petrol,MANUAL,"2019 - 27,000 km",PETROL,2nd,"Vikaspuri, Delhi","₹ 4,25,000"
448,Maruti Suzuki Swift (2017),LXI Option SP Limited Edition,MANUAL,"2016 - 68,000 km",PETROL,1st,"Vikaspuri, Delhi","₹ 4,35,000"
449,Hyundai I10 (2012),Magna 1.1L,MANUAL,2017 - 49000.0 km,PETROL,1st,"Vikaspuri, Delhi","₹ 2,35,000"

In [9]:
df1[['Brand','ModelName','mn_year']]=pd.DataFrame(df1.BrandName.str.split(' ',2).tolist(),columns=['Brand','ModelName','mn_year'])

In [10]:
df1[['Year','Kilometer']]=pd.DataFrame(df1.ManufacturingYear.str.split(' - ',1).tolist(),columns=['Year','Kilometer'])
df1

,BrandName,Model,Variant,ManufacturingYear,Fuel type,Owner,Location,Price,Brand,ModelName,mn_year,Year,Kilometer
0,Hyundai Santro (2018),Sportz CNG,MANUAL,"2018 - 62,557 km",CNG & HYBRIDS,1st,"Rohini Sector 10, Delhi","₹ 5,76,800",Hyundai,Santro,(2018),2018,"62,557 km"
1,Hyundai Elite I20 (2015),Magna 1.2,MANUAL,"2015 - 52,000 km",PETROL,1st,"New Rajdhani Enclave, Delhi","₹ 4,89,999",Hyundai,Elite,I20 (2015),2015,"52,000 km"
2,Toyota Etios Liva (2014),2013-2014 G Xclusive Edition,MANUAL,"2014 - 33,000 km",PETROL,1st,"Vikaspuri, Delhi","₹ 3,35,000",Toyota,Etios,Liva (2014),2014,"33,000 km"
3,Hyundai I10 (2009),1.1L iRDE ERA Special Edition,MANUAL,"2009 - 70,000 km",CNG,Second,"Bharthal, Delhi","₹ 1,15,000",Hyundai,I10,(2009),2009,"70,000 km"
4,Mahindra Xuv500 (2011),2011-2015 W8 4WD,MANUAL,"2011 - 90,000 km",DIESEL,Second,"Daryaganj, Delhi","₹ 5,00,000",Mahindra,Xuv500,(2011),2011,"90,000 km"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
445,Ford Ecosport (2015),1.5 Petrol Titanium Plus AT,AUTOMATIC,"2018 - 41,000 km",PETROL,2nd,"South Extension, Delhi","₹ 5,05,000",Ford,Ecosport,(2015),2018,"41,000 km"
446,Maruti Suzuki Swift (2012),2011-2014 RS VDI,MANUAL,"2010 - 72,000 km",DIESEL,2nd,"Janakpuri, Delhi","₹ 2,80,000",Maruti,Suzuki,Swift (2012),2010,"72,000 km"
447,Hyundai I20 Active (2015),S Petrol,MANUAL,"2019 - 27,000 km",PETROL,2nd,"Vikaspuri, Delhi","₹ 4,25,000",Hyundai,I20,Active (2015),2019,"27,000 km"
448,Maruti Suzuki Swift (2017),LXI Option SP Limited Edition,MANUAL,"2016 - 68,000 km",PETROL,1st,"Vikaspuri, Delhi","₹ 4,35,000",Maruti,Suzuki,Swift (2017),2016,"68,000 km"
449,Hyundai I10 (2012),Magna 1.1L,MANUAL,2017 - 49000.0 km,PETROL,1st,"Vikaspuri, Delhi","₹ 2,35,000",Hyundai,I10,(2012),2017,49000.0 km

In [11]:
df1.drop(['BrandName','ManufacturingYear'],inplace=True,axis=1)

In [12]:
df1=df1[['Brand','ModelName','Model','Variant','Fuel type','Kilometer','Owner','Location','Year','mn_year','Price']]
df1

,Brand,ModelName,Model,Variant,Fuel type,Kilometer,Owner,Location,Year,mn_year,Price
0,Hyundai,Santro,Sportz CNG,MANUAL,CNG & HYBRIDS,"62,557 km",1st,"Rohini Sector 10, Delhi",2018,(2018),"₹ 5,76,800"
1,Hyundai,Elite,Magna 1.2,MANUAL,PETROL,"52,000 km",1st,"New Rajdhani Enclave, Delhi",2015,I20 (2015),"₹ 4,89,999"
2,Toyota,Etios,2013-2014 G Xclusive Edition,MANUAL,PETROL,"33,000 km",1st,"Vikaspuri, Delhi",2014,Liva (2014),"₹ 3,35,000"
3,Hyundai,I10,1.1L iRDE ERA Special Edition,MANUAL,CNG,"70,000 km",Second,"Bharthal, Delhi",2009,(2009),"₹ 1,15,000"
4,Mahindra,Xuv500,2011-2015 W8 4WD,MANUAL,DIESEL,"90,000 km",Second,"Daryaganj, Delhi",2011,(2011),"₹ 5,00,000"
...,...,...,...,...,...,...,...,...,...,...,...
445,Ford,Ecosport,1.5 Petrol Titanium Plus AT,AUTOMATIC,PETROL,"41,000 km",2nd,"South Extension, Delhi",2018,(2015),"₹ 5,05,000"
446,Maruti,Suzuki,2011-2014 RS VDI,MANUAL,DIESEL,"72,000 km",2nd,"Janakpuri, Delhi",2010,Swift (2012),"₹ 2,80,000"
447,Hyundai,I20,S Petrol,MANUAL,PETROL,"27,000 km",2nd,"Vikaspuri, Delhi",2019,Active (2015),"₹ 4,25,000"
448,Maruti,Suzuki,LXI Option SP Limited Edition,MANUAL,PETROL,"68,000 km",1st,"Vikaspuri, Delhi",2016,Swift (2017),"₹ 4,35,000"
449,Hyundai,I10,Magna 1.1L,MANUAL,PETROL,49000.0 km,1st,"Vikaspuri, Delhi",2017,(2012),"₹ 2,35,000"

In [13]:
df1

,Brand,ModelName,Model,Variant,Fuel type,Kilometer,Owner,Location,Year,mn_year,Price
0,Hyundai,Santro,Sportz CNG,MANUAL,CNG & HYBRIDS,"62,557 km",1st,"Rohini Sector 10, Delhi",2018,(2018),"₹ 5,76,800"
1,Hyundai,Elite,Magna 1.2,MANUAL,PETROL,"52,000 km",1st,"New Rajdhani Enclave, Delhi",2015,I20 (2015),"₹ 4,89,999"
2,Toyota,Etios,2013-2014 G Xclusive Edition,MANUAL,PETROL,"33,000 km",1st,"Vikaspuri, Delhi",2014,Liva (2014),"₹ 3,35,000"
3,Hyundai,I10,1.1L iRDE ERA Special Edition,MANUAL,CNG,"70,000 km",Second,"Bharthal, Delhi",2009,(2009),"₹ 1,15,000"
4,Mahindra,Xuv500,2011-2015 W8 4WD,MANUAL,DIESEL,"90,000 km",Second,"Daryaganj, Delhi",2011,(2011),"₹ 5,00,000"
...,...,...,...,...,...,...,...,...,...,...,...
445,Ford,Ecosport,1.5 Petrol Titanium Plus AT,AUTOMATIC,PETROL,"41,000 km",2nd,"South Extension, Delhi",2018,(2015),"₹ 5,05,000"
446,Maruti,Suzuki,2011-2014 RS VDI,MANUAL,DIESEL,"72,000 km",2nd,"Janakpuri, Delhi",2010,Swift (2012),"₹ 2,80,000"
447,Hyundai,I20,S Petrol,MANUAL,PETROL,"27,000 km",2nd,"Vikaspuri, Delhi",2019,Active (2015),"₹ 4,25,000"
448,Maruti,Suzuki,LXI Option SP Limited Edition,MANUAL,PETROL,"68,000 km",1st,"Vikaspuri, Delhi",2016,Swift (2017),"₹ 4,35,000"
449,Hyundai,I10,Magna 1.1L,MANUAL,PETROL,49000.0 km,1st,"Vikaspuri, Delhi",2017,(2012),"₹ 2,35,000"

Scraping data of cars in mumbai from olx:

In [14]:
# lets scrape data from first website olx
driver=webdriver.Chrome(service=path)
# opening the required website
url="https://www.olx.in"
driver.get(url)
time.sleep(2)

In [15]:
# typing cars in search field
s_field=driver.find_element(By.XPATH,"//form[@class='rui-1Azjs _20jkh']/fieldset/div/input")
s_field.send_keys("used cars in mumbai")
time.sleep(2)
#Clicking search button
s_btn=driver.find_element(By.XPATH,"//div[@class='_3b3oR']")
s_btn.click()
time.sleep(3)

In [16]:
# Clicking load button to see more cars
for i in range(0,25):
    if i>25:
        break
    else:
        load_btn=driver.find_element(By.XPATH,"//button[@class='rui-39-wj rui-3evoE rui-1JPTg']")
        load_btn.click()
        time.sleep(5)
    i=i+1

In [17]:
# scraping data
brandname2=[]
model2=[]
variant2=[]
manufacturingyear2=[]
fuel2=[]
owner2=[]
location2=[]
price2=[]

In [18]:
#Scraping car manufacturing year
try:
    for i in driver.find_elements(By.XPATH,"//span[@class='_2TVI3']"):
        manufacturingyear2.append(i.text)
except NoSuchElementException:
    manufacturingyear2.append("----")
    time.sleep(5)
urls=[]
for i in range(0,1):
    if i>1:
        break
    a=driver.find_elements(By.XPATH,"//ul[@class='rl3f9 _3mXOU']/li/a")
    for i in a:
        urls.append(i.get_attribute('href'))
   
    for i in urls:
        driver.get(i)
        time.sleep(2)
        # scraping car brands
        try:
            for i in driver.find_elements(By.XPATH,"//div[@class='_35xN1']"):
                brandname2.append(i.text)
        except NoSuchElementException:
            brandname2.append("----")

        # scraping car model
        try:
            for i in driver.find_elements(By.XPATH,"//div[@class='_3tLee']"):
                model2.append(i.text)
        except NoSuchElementException:
            model2.append("----")
        # scraping car variant
        try:
            for i in driver.find_elements(By.XPATH,"//div[@class='aOxkz']/div[3]"):
                variant2.append(i.text)
        except NoSuchElementException:
            variant2.append("----")
       
        # scraping car fuel type
        try:
            for i in driver.find_elements(By.XPATH,"//div[@class='aOxkz']/div[1]"):
                fuel2.append(i.text)
        except NoSuchElementException:
            fuel2.append("----")
        # scraping car owner no.
        try:
            for i in driver.find_elements(By.XPATH,"//div[@class='_1l939']/div[1]/div[2]/div[2]"):
                owner2.append(i.text)
        except NoSuchElementException:
            owner2.append("----")
        # scraping car location
        try:
            for i in driver.find_elements(By.XPATH,"//div[@class='_1l939']/div[2]/div[2]/div[2]"):
                location2.append(i.text)
        except NoSuchElementException:
            location2.append("----")
        # scraping price of the car
        try:
            for i in driver.find_elements(By.XPATH,"//div[@class='_3FkyT']"):
                price2.append(i.text)
        except NoSuchElementException:
            price2.append("----")

In [19]:
# making dataframe of scraped data from olx
df2=pd.DataFrame(list(zip(brandname2,model2,variant2,manufacturingyear2,fuel2,owner2,location2,price2)),columns=["BrandName","Model","Variant","ManufacturingYear","Fuel type","Owner","Location","Price"])
df2

,BrandName,Model,Variant,ManufacturingYear,Fuel type,Owner,Location,Price
0,Toyota Innova Crysta (2016),2.4 GX MT,MANUAL,2012 - 80420.0 km,DIESEL,1st,"Vasai East, Mumbai","₹ 13,25,000"
1,Toyota Innova Crysta (2018),2.8 GX AT,AUTOMATIC,"2016 - 141,000 km",DIESEL,1st,"Vashi, Navi Mumbai","₹ 18,95,000"
2,Maruti Suzuki Swift (2012),2011-2014 ZDi,MANUAL,"2018 - 77,635 km",DIESEL,Second,"Chembur, Mumbai","₹ 2,99,999"
3,Honda Jazz (2016),1.5 VX i DTEC,MANUAL,"2012 - 90,000 km",DIESEL,Second,"Gulmohar Road, Mumbai","₹ 5,50,000"
4,Honda Brio (2014),1.2 S MT,MANUAL,"2016 - 90,000 km",PETROL,1st,"Andheri West, Mumbai","₹ 3,00,000"
...,...,...,...,...,...,...,...,...
446,Maruti Suzuki Wagon R (2016),VXI AMT,AUTOMATIC,"2015 - 41,500 km",PETROL,2nd,"Vashi, Navi Mumbai","₹ 3,49,000"
447,Nissan Terrano (2014),2013-2017 XL Plus 85 PS,MANUAL,"2020 - 8,214 km",DIESEL,1st,"Airoli, Navi Mumbai","₹ 4,79,000"
448,Maruti Suzuki Ertiga (2018),VXI CNG,MANUAL,"2018 - 18,000 km",CNG & HYBRIDS,1st,"Mulund West, Mumbai","₹ 9,20,000"
449,Maruti Suzuki Swift (2014),2011-2014 VXI,MANUAL,"2009 - 69,000 km",PETROL,1st,"Mulund West, Mumbai","₹ 4,49,999"
450,Maruti Suzuki Wagon R 1.0 (2017),LXi CNG,MANUAL,"2018 - 8,000 km",CNG & HYBRIDS,1st,"Mulund West, Mumbai","₹ 4,59,000"

In [20]:
df2[['Brand','ModelName','mn_year']]=pd.DataFrame(df2.BrandName.str.split(' ',2).tolist(),columns=['Brand','ModelName','mn_year'])
df2[['Year','Kilometer']]=pd.DataFrame(df2.ManufacturingYear.str.split(' - ',1).tolist(),columns=['Year','Kilometer'])

In [21]:
df2.drop(['BrandName','ManufacturingYear'],inplace=True,axis=1)

In [22]:
df2=df2[['Brand','ModelName','Model','Variant','Fuel type','Kilometer','Owner','Location','Year','mn_year','Price']]
df2

,Brand,ModelName,Model,Variant,Fuel type,Kilometer,Owner,Location,Year,mn_year,Price
0,Toyota,Innova,2.4 GX MT,MANUAL,DIESEL,80420.0 km,1st,"Vasai East, Mumbai",2012,Crysta (2016),"₹ 13,25,000"
1,Toyota,Innova,2.8 GX AT,AUTOMATIC,DIESEL,"141,000 km",1st,"Vashi, Navi Mumbai",2016,Crysta (2018),"₹ 18,95,000"
2,Maruti,Suzuki,2011-2014 ZDi,MANUAL,DIESEL,"77,635 km",Second,"Chembur, Mumbai",2018,Swift (2012),"₹ 2,99,999"
3,Honda,Jazz,1.5 VX i DTEC,MANUAL,DIESEL,"90,000 km",Second,"Gulmohar Road, Mumbai",2012,(2016),"₹ 5,50,000"
4,Honda,Brio,1.2 S MT,MANUAL,PETROL,"90,000 km",1st,"Andheri West, Mumbai",2016,(2014),"₹ 3,00,000"
...,...,...,...,...,...,...,...,...,...,...,...
446,Maruti,Suzuki,VXI AMT,AUTOMATIC,PETROL,"41,500 km",2nd,"Vashi, Navi Mumbai",2015,Wagon R (2016),"₹ 3,49,000"
447,Nissan,Terrano,2013-2017 XL Plus 85 PS,MANUAL,DIESEL,"8,214 km",1st,"Airoli, Navi Mumbai",2020,(2014),"₹ 4,79,000"
448,Maruti,Suzuki,VXI CNG,MANUAL,CNG & HYBRIDS,"18,000 km",1st,"Mulund West, Mumbai",2018,Ertiga (2018),"₹ 9,20,000"
449,Maruti,Suzuki,2011-2014 VXI,MANUAL,PETROL,"69,000 km",1st,"Mulund West, Mumbai",2009,Swift (2014),"₹ 4,49,999"
450,Maruti,Suzuki,LXi CNG,MANUAL,CNG & HYBRIDS,"8,000 km",1st,"Mulund West, Mumbai",2018,Wagon R 1.0 (2017),"₹ 4,59,000"

Scraping Data of cars in Chennai from olx:

In [26]:
# lets scrape data from first website olx
driver=webdriver.Chrome(service=path)
# opening the required website
url="https://www.olx.in"
driver.get(url)
time.sleep(2)

In [27]:
# typing cars in search field
s_field=driver.find_element(By.XPATH,"//form[@class='rui-1Azjs _20jkh']/fieldset/div/input")
s_field.send_keys("used cars in chennai")
time.sleep(2)
#Clicking search button
s_btn=driver.find_element(By.XPATH,"//div[@class='_3b3oR']")
s_btn.click()
time.sleep(3)

In [28]:
# Clicking load button to see more cars
for i in range(0,25):
    if i>25:
        break
    else:
        load_btn=driver.find_element(By.XPATH,"//button[@class='rui-39-wj rui-3evoE rui-1JPTg']")
        load_btn.click()
        time.sleep(5)
    i=i+1

In [29]:
# scraping data
brandname3=[]
model3=[]
variant3=[]
manufacturingyear3=[]
fuel3=[]
owner3=[]
location3=[]
price3=[]

In [30]:
#Scraping car manufacturing year
try:
    for i in driver.find_elements(By.XPATH,"//span[@class='_2TVI3']"):
        manufacturingyear3.append(i.text)
except NoSuchElementException:
    manufacturingyear3.append("----")
    time.sleep(5)
urls=[]
for i in range(0,1):
    if i>1:
        break
    a=driver.find_elements(By.XPATH,"//ul[@class='rl3f9 _3mXOU']/li/a")
    for i in a:
        urls.append(i.get_attribute('href'))
   
    for i in urls:
        driver.get(i)
        time.sleep(2)
        # scraping car brands
        try:
            for i in driver.find_elements(By.XPATH,"//div[@class='_35xN1']"):
                brandname3.append(i.text)
        except NoSuchElementException:
            brandname3.append("----")

        # scraping car model
        try:
            for i in driver.find_elements(By.XPATH,"//div[@class='_3tLee']"):
                model3.append(i.text)
        except NoSuchElementException:
            model3.append("----")
        # scraping car variant
        try:
            for i in driver.find_elements(By.XPATH,"//div[@class='aOxkz']/div[3]"):
                variant3.append(i.text)
        except NoSuchElementException:
            variant3.append("----")
        # scraping car fuel type
        try:
            for i in driver.find_elements(By.XPATH,"//div[@class='aOxkz']/div[1]"):
                fuel3.append(i.text)
        except NoSuchElementException:
            fuel3.append("----")
        # scraping car owner no.
        try:
            for i in driver.find_elements(By.XPATH,"//div[@class='_1l939']/div[1]/div[2]/div[2]"):
                owner3.append(i.text)
        except NoSuchElementException:
            owner3.append("----")
        # scraping car location
        try:
            for i in driver.find_elements(By.XPATH,"//div[@class='_1l939']/div[2]/div[2]/div[2]"):
                location3.append(i.text)
        except NoSuchElementException:
            location3.append("----")
        # scraping price of the car
        try:
            for i in driver.find_elements(By.XPATH,"//div[@class='_3FkyT']"):
                price3.append(i.text)
        except NoSuchElementException:
            price3.append("----")

In [31]:
# making dataframe of scraped data from olx
df3=pd.DataFrame(list(zip(brandname3,model3,variant3,manufacturingyear3,fuel3,owner3,location3,price3)),columns=["BrandName","Model","Variant","ManufacturingYear","Fuel type","Owner","Location","Price"])
df3

,BrandName,Model,Variant,ManufacturingYear,Fuel type,Owner,Location,Price
0,Maruti Suzuki Vitara Brezza (2018),ZDi AMT,AUTOMATIC,₹ 2200 - 2700 | Weekly,DIESEL,1st,"Villivakkam, Chennai","₹ 8,90,000"
1,Toyota Fortuner (2019),2.8 2WD AT,AUTOMATIC,"2018 - 37,924 km",DIESEL,1st,"Villivakkam, Chennai","₹ 34,90,000"
2,Chevrolet Optra Magnum (2012),1.6 LT Petrol,MANUAL,"2019 - 64,809 km",PETROL,First,"Param Puri, Delhi","₹ 8,90,000"
3,Hyundai Creta (2018),1.4 E Plus,MANUAL,"2012 - 30,000 km",DIESEL,First,"Alapakkam Astha Lakshmi Nagar, Chennai","₹ 10,00,000"
4,Hyundai I20 (2010),1.4 Asta,MANUAL,"2018 - 65,000 km",DIESEL,2nd,"Kodambakkam Subramania Nagar, Chennai","₹ 2,90,000"
...,...,...,...,...,...,...,...,...
448,Honda Jazz (2015),1.2 SV i VTEC,MANUAL,"2011 - 27,000 km",PETROL,1st,"Pallikaranai Gandhi Nagar, Chennai","₹ 5,60,000"
449,Maruti Suzuki Wagon R (2010),VXI,MANUAL,"2012 - 85,000 km",PETROL,1st,"Perungudi, Chennai","₹ 2,20,000"
450,Bmw X3 (2012),2011-2013 2.0d SAV,AUTOMATIC,"2016 - 52,000 km",DIESEL,1st,"RA Puram Girinivasa Road Extention, Chennai","₹ 15,00,000"
451,Hyundai I10 (2011),Sportz AT,AUTOMATIC,"2016 - 45,000 km",PETROL,2nd,"RA Puram Girinivasa Road Extention, Chennai","₹ 2,90,000"
452,Maruti Suzuki 800 (1999),Std,MANUAL,2021 - 100 km,PETROL,1st,"Korattur TVS Nagar, Chennai","₹ 40,000"

In [32]:
df3[['Brand','ModelName','mn_year']]=pd.DataFrame(df3.BrandName.str.split(' ',2).tolist(),columns=['Brand','ModelName','mn_year'])
df3[['Year','Kilometer']]=pd.DataFrame(df3.ManufacturingYear.str.split(' - ',1).tolist(),columns=['Year','Kilometer'])

In [33]:
df3.drop(['BrandName','ManufacturingYear'],inplace=True,axis=1)

In [34]:
df3=df3[['Brand','ModelName','Model','Variant','Fuel type','Kilometer','Owner','Location','Year','mn_year','Price']]
df3

,Brand,ModelName,Model,Variant,Fuel type,Kilometer,Owner,Location,Year,mn_year,Price
0,Maruti,Suzuki,ZDi AMT,AUTOMATIC,DIESEL,2700 | Weekly,1st,"Villivakkam, Chennai",₹ 2200,Vitara Brezza (2018),"₹ 8,90,000"
1,Toyota,Fortuner,2.8 2WD AT,AUTOMATIC,DIESEL,"37,924 km",1st,"Villivakkam, Chennai",2018,(2019),"₹ 34,90,000"
2,Chevrolet,Optra,1.6 LT Petrol,MANUAL,PETROL,"64,809 km",First,"Param Puri, Delhi",2019,Magnum (2012),"₹ 8,90,000"
3,Hyundai,Creta,1.4 E Plus,MANUAL,DIESEL,"30,000 km",First,"Alapakkam Astha Lakshmi Nagar, Chennai",2012,(2018),"₹ 10,00,000"
4,Hyundai,I20,1.4 Asta,MANUAL,DIESEL,"65,000 km",2nd,"Kodambakkam Subramania Nagar, Chennai",2018,(2010),"₹ 2,90,000"
...,...,...,...,...,...,...,...,...,...,...,...
448,Honda,Jazz,1.2 SV i VTEC,MANUAL,PETROL,"27,000 km",1st,"Pallikaranai Gandhi Nagar, Chennai",2011,(2015),"₹ 5,60,000"
449,Maruti,Suzuki,VXI,MANUAL,PETROL,"85,000 km",1st,"Perungudi, Chennai",2012,Wagon R (2010),"₹ 2,20,000"
450,Bmw,X3,2011-2013 2.0d SAV,AUTOMATIC,DIESEL,"52,000 km",1st,"RA Puram Girinivasa Road Extention, Chennai",2016,(2012),"₹ 15,00,000"
451,Hyundai,I10,Sportz AT,AUTOMATIC,PETROL,"45,000 km",2nd,"RA Puram Girinivasa Road Extention, Chennai",2016,(2011),"₹ 2,90,000"
452,Maruti,Suzuki,Std,MANUAL,PETROL,100 km,1st,"Korattur TVS Nagar, Chennai",2021,800 (1999),"₹ 40,000"

Scraping data of cars in Kolkatta from olx:

In [35]:
# lets scrape data from first website olx
driver=webdriver.Chrome(service=path)
# opening the required website
url="https://www.olx.in"
driver.get(url)
time.sleep(2)

In [36]:
# typing cars in search field
s_field=driver.find_element(By.XPATH,"//form[@class='rui-1Azjs _20jkh']/fieldset/div/input")
s_field.send_keys("used cars in kolkata")
time.sleep(2)
#Clicking search button
s_btn=driver.find_element(By.XPATH,"//div[@class='_3b3oR']")
s_btn.click()
time.sleep(3)

In [37]:
# Clicking load button to see more cars
for i in range(0,25):
    if i>25:
        break
    else:
        load_btn=driver.find_element(By.XPATH,"//button[@class='rui-39-wj rui-3evoE rui-1JPTg']")
        load_btn.click()
        time.sleep(5)
    i=i+1

In [38]:
# scraping data
brandname4=[]
model4=[]
variant4=[]
manufacturingyear4=[]
fuel4=[]
owner4=[]
location4=[]
price4=[]

In [39]:
#Scraping car manufacturing year
try:
    for i in driver.find_elements(By.XPATH,"//span[@class='_2TVI3']"):
        manufacturingyear4.append(i.text)
except NoSuchElementException:
    manufacturingyear4.append("----")
    time.sleep(5)
urls=[]
for i in range(0,1):
    if i>1:
        break
    a=driver.find_elements(By.XPATH,"//ul[@class='rl3f9 _3mXOU']/li/a")
    for i in a:
        urls.append(i.get_attribute('href'))
   
    for i in urls:
        driver.get(i)
        time.sleep(2)
        # scraping car brands
        try:
            for i in driver.find_elements(By.XPATH,"//div[@class='_35xN1']"):
                brandname4.append(i.text)
        except NoSuchElementException:
            brandname4.append("----")

        # scraping car model
        try:
            for i in driver.find_elements(By.XPATH,"//div[@class='_3tLee']"):
                model4.append(i.text)
        except NoSuchElementException:
            model4.append("----")
        # scraping car variant
        try:
            for i in driver.find_elements(By.XPATH,"//div[@class='aOxkz']/div[3]"):
                variant4.append(i.text)
        except NoSuchElementException:
            variant4.append("----")
        # scraping car fuel type
        try:
            for i in driver.find_elements(By.XPATH,"//div[@class='aOxkz']/div[1]"):
                fuel4.append(i.text)
        except NoSuchElementException:
            fuel4.append("----")
        # scraping car owner no.
        try:
            for i in driver.find_elements(By.XPATH,"//div[@class='_1l939']/div[1]/div[2]/div[2]"):
                owner4.append(i.text)
        except NoSuchElementException:
            owner4.append("----")
        # scraping car location
        try:
            for i in driver.find_elements(By.XPATH,"//div[@class='_1l939']/div[2]/div[2]/div[2]"):
                location4.append(i.text)
        except NoSuchElementException:
            location4.append("----")
        # scraping price of the car
        try:
            for i in driver.find_elements(By.XPATH,"//div[@class='_3FkyT']"):
                price4.append(i.text)
        except NoSuchElementException:
            price4.append("----")

In [40]:
# making dataframe of scraped data from olx
df4=pd.DataFrame(list(zip(brandname4,model4,variant4,manufacturingyear4,fuel4,owner4,location4,price4)),columns=["BrandName","Model","Variant","ManufacturingYear","Fuel type","Owner","Location","Price"])
df4

,BrandName,Model,Variant,ManufacturingYear,Fuel type,Owner,Location,Price
0,Maruti Suzuki Ertiga (2014),VXI,MANUAL,2014 - 19000.0 km,PETROL,1st,"Tara Tala, Kolkata","₹ 5,25,000"
1,Mahindra Tuv 300 (2016),T6 PLUS,MANUAL,"2014 - 45,000 km",DIESEL,1st,"Southern Avenue, Kolkata","₹ 5,31,000"
2,Toyota Etios (2011),2010-2012 V,MANUAL,"2016 - 55,000 km",PETROL,Second,"Kamalgazi, Kolkata","₹ 1,39,999"
3,Honda Jazz (2015),1.5 V i DTEC,MANUAL,"2011 - 80,000 km",DIESEL,First,"Saltlake Sector II, Kolkata","₹ 3,40,000"
4,Maruti Suzuki Celerio X (2018),ZXI,AUTOMATIC,"2015 - 81,600 km",PETROL,1st,"EM Bypass - Ruby, Kolkata","₹ 4,69,000"
...,...,...,...,...,...,...,...,...
465,Volkswagen Polo (2012),1.2 MPI Comfortline,MANUAL,"2017 - 31,000 km",PETROL,2nd,"Saltlake Sector III, Kolkata","₹ 2,90,000"
466,Renault Scala (2015),RxZ AT,AUTOMATIC,"2014 - 52,000 km",PETROL,1st,"Bhawanipur, Kolkata","₹ 3,75,000"
467,Maruti Suzuki Swift Dzire (2016),1.2 Vxi BSIV,MANUAL,"2010 - 35,000 km",PETROL,1st,"Beleghata East, Kolkata","₹ 4,99,999"
468,Honda City (2020),ZX,MANUAL,"2010 - 26,000 km",PETROL,2nd,"Tollygunge West, Kolkata","₹ 11,65,000"
469,Skoda Rapid (2012),Elegance 1.6 TDI CR Manual,MANUAL,"2013 - 60,000 km",DIESEL,3rd,"Taratala, Kolkata","₹ 2,30,000"

In [41]:
df4[['Brand','ModelName','mn_year']]=pd.DataFrame(df4.BrandName.str.split(' ',2).tolist(),columns=['Brand','ModelName','mn_year'])
df4[['Year','Kilometer']]=pd.DataFrame(df4.ManufacturingYear.str.split(' - ',1).tolist(),columns=['Year','Kilometer'])

In [42]:
df4.drop(['BrandName','ManufacturingYear'],inplace=True,axis=1)

In [43]:
df4=df4[['Brand','ModelName','Model','Variant','Fuel type','Kilometer','Owner','Location','Year','mn_year','Price']]
df4

,Brand,ModelName,Model,Variant,Fuel type,Kilometer,Owner,Location,Year,mn_year,Price
0,Maruti,Suzuki,VXI,MANUAL,PETROL,19000.0 km,1st,"Tara Tala, Kolkata",2014,Ertiga (2014),"₹ 5,25,000"
1,Mahindra,Tuv,T6 PLUS,MANUAL,DIESEL,"45,000 km",1st,"Southern Avenue, Kolkata",2014,300 (2016),"₹ 5,31,000"
2,Toyota,Etios,2010-2012 V,MANUAL,PETROL,"55,000 km",Second,"Kamalgazi, Kolkata",2016,(2011),"₹ 1,39,999"
3,Honda,Jazz,1.5 V i DTEC,MANUAL,DIESEL,"80,000 km",First,"Saltlake Sector II, Kolkata",2011,(2015),"₹ 3,40,000"
4,Maruti,Suzuki,ZXI,AUTOMATIC,PETROL,"81,600 km",1st,"EM Bypass - Ruby, Kolkata",2015,Celerio X (2018),"₹ 4,69,000"
...,...,...,...,...,...,...,...,...,...,...,...
465,Volkswagen,Polo,1.2 MPI Comfortline,MANUAL,PETROL,"31,000 km",2nd,"Saltlake Sector III, Kolkata",2017,(2012),"₹ 2,90,000"
466,Renault,Scala,RxZ AT,AUTOMATIC,PETROL,"52,000 km",1st,"Bhawanipur, Kolkata",2014,(2015),"₹ 3,75,000"
467,Maruti,Suzuki,1.2 Vxi BSIV,MANUAL,PETROL,"35,000 km",1st,"Beleghata East, Kolkata",2010,Swift Dzire (2016),"₹ 4,99,999"
468,Honda,City,ZX,MANUAL,PETROL,"26,000 km",2nd,"Tollygunge West, Kolkata",2010,(2020),"₹ 11,65,000"
469,Skoda,Rapid,Elegance 1.6 TDI CR Manual,MANUAL,DIESEL,"60,000 km",3rd,"Taratala, Kolkata",2013,(2012),"₹ 2,30,000"

Scraping data of cars in Bangalore from olx:

In [44]:
# lets scrape data from first website olx
driver=webdriver.Chrome(service=path)
# opening the required website
url="https://www.olx.in"
driver.get(url)
time.sleep(2)

In [45]:
# typing cars in search field
s_field=driver.find_element(By.XPATH,"//form[@class='rui-1Azjs _20jkh']/fieldset/div/input")
s_field.send_keys("used cars in bengaluru")
time.sleep(2)
#Clicking search button
s_btn=driver.find_element(By.XPATH,"//div[@class='_3b3oR']")
s_btn.click()
time.sleep(3)

In [46]:
# Clicking load button to see more cars
for i in range(0,25):
    if i>25:
        break
    else:
        load_btn=driver.find_element(By.XPATH,"//button[@class='rui-39-wj rui-3evoE rui-1JPTg']")
        load_btn.click()
        time.sleep(5)
    i=i+1

In [47]:
# scraping data
brandname5=[]
model5=[]
variant5=[]
manufacturingyear5=[]
fuel5=[]
owner5=[]
location5=[]
price5=[]

In [48]:
#Scraping car manufacturing year
try:
    for i in driver.find_elements(By.XPATH,"//span[@class='_2TVI3']"):
        manufacturingyear5.append(i.text)
except NoSuchElementException:
    manufacturingyear5.append("----")
    time.sleep(5)
urls=[]
for i in range(0,1):
    if i>1:
        break
    a=driver.find_elements(By.XPATH,"//ul[@class='rl3f9 _3mXOU']/li/a")
    for i in a:
        urls.append(i.get_attribute('href'))
   
    for i in urls:
        driver.get(i)
        time.sleep(2)
        # scraping car brands
        try:
            for i in driver.find_elements(By.XPATH,"//div[@class='_35xN1']"):
                brandname5.append(i.text)
        except NoSuchElementException:
            brandname5.append("----")

        # scraping car model
        try:
            for i in driver.find_elements(By.XPATH,"//div[@class='_3tLee']"):
                model5.append(i.text)
        except NoSuchElementException:
            model5.append("----")
        # scraping car variant
        try:
            for i in driver.find_elements(By.XPATH,"//div[@class='aOxkz']/div[3]"):
                variant5.append(i.text)
        except NoSuchElementException:
            variant5.append("----")
        # scraping car fuel type
        try:
            for i in driver.find_elements(By.XPATH,"//div[@class='aOxkz']/div[1]"):
                fuel5.append(i.text)
        except NoSuchElementException:
            fuel5.append("----")
        # scraping car owner no.
        try:
            for i in driver.find_elements(By.XPATH,"//div[@class='_1l939']/div[1]/div[2]/div[2]"):
                owner5.append(i.text)
        except NoSuchElementException:
            owner5.append("----")
        # scraping car location
        try:
            for i in driver.find_elements(By.XPATH,"//div[@class='_1l939']/div[2]/div[2]/div[2]"):
                location5.append(i.text)
        except NoSuchElementException:
            location5.append("----")
        # scraping price of the car
        try:
            for i in driver.find_elements(By.XPATH,"//div[@class='_3FkyT']"):
                price5.append(i.text)
        except NoSuchElementException:
            price5.append("----")

In [49]:
# making dataframe of scraped data from olx
df5=pd.DataFrame(list(zip(brandname5,model5,variant5,manufacturingyear5,fuel5,owner5,location5,price5)),columns=["BrandName","Model","Variant","ManufacturingYear","Fuel type","Owner","Location","Price"])
df5

,BrandName,Model,Variant,ManufacturingYear,Fuel type,Owner,Location,Price
0,Maruti Suzuki Baleno (2016),1.2 Delta,MANUAL,"2016 - 28,771 km",PETROL,1st,"Kempapura, Bengaluru","₹ 6,95,000"
1,Hyundai I20 (2010),2009-2011 1.4 Asta (AT),AUTOMATIC,"2010 - 44,000 km",PETROL,1st,"Banashnakari Outer Ring Road, Bengaluru","₹ 3,75,000"
2,Mahindra Kuv 100 (2016),2016-2017 mFALCON D75 K4,MANUAL,"2016 - 73,901 km",DIESEL,2nd,"Frazer Town, Bengaluru","₹ 3,49,000"
3,Nissan X-Trail (2009),2009-2014 SLX MT,MANUAL,"2009 - 105,000 km",DIESEL,Third,"Anjappa Layout, Bengaluru","₹ 3,20,000"
4,Chevrolet Cruze (2009),2010-2011 LTZ,MANUAL,"2009 - 79,000 km",DIESEL,First,"Satyasaibaba Layout, Bengaluru","₹ 2,80,000"
...,...,...,...,...,...,...,...,...
156,Ford Figo Aspire (2017),1.5 TDCi Titanium,MANUAL,"2020 - 5,000 km",DIESEL,First,"RT Nagar, Bengaluru","₹ 5,50,000"
157,Mahindra Bolero (2014),ZLX,MANUAL,2021 - 1 km,DIESEL,Second,"Hoskote, Bengaluru","₹ 5,75,000"
158,Mahindra Tuv 300 (2015),T8,MANUAL,"2009 - 90,000 km",DIESEL,1st,"HSR Layout, Bengaluru","₹ 6,65,000"
159,Maruti Suzuki Alto K10 (2012),LXI,MANUAL,"2009 - 56,000 km",PETROL,2nd,"Karanataka bangalore nagarabhavi 2nd stage, Be...","₹ 2,05,000"
160,Maruti Suzuki Baleno (2016),1.3 Delta,MANUAL,"2017 - 129,092 km",DIESEL,1st,"CV Raman Nagar, Bengaluru","₹ 5,65,000"

In [50]:
df5[['Brand','ModelName','mn_year']]=pd.DataFrame(df5.BrandName.str.split(' ',2).tolist(),columns=['Brand','ModelName','mn_year'])
df5[['Year','Kilometer']]=pd.DataFrame(df5.ManufacturingYear.str.split(' - ',1).tolist(),columns=['Year','Kilometer'])

In [51]:
df5.drop(['BrandName','ManufacturingYear'],inplace=True,axis=1)

In [52]:
df5=df5[['Brand','ModelName','Model','Variant','Fuel type','Kilometer','Owner','Location','Year','mn_year','Price']]
df5

,Brand,ModelName,Model,Variant,Fuel type,Kilometer,Owner,Location,Year,mn_year,Price
0,Maruti,Suzuki,1.2 Delta,MANUAL,PETROL,"28,771 km",1st,"Kempapura, Bengaluru",2016,Baleno (2016),"₹ 6,95,000"
1,Hyundai,I20,2009-2011 1.4 Asta (AT),AUTOMATIC,PETROL,"44,000 km",1st,"Banashnakari Outer Ring Road, Bengaluru",2010,(2010),"₹ 3,75,000"
2,Mahindra,Kuv,2016-2017 mFALCON D75 K4,MANUAL,DIESEL,"73,901 km",2nd,"Frazer Town, Bengaluru",2016,100 (2016),"₹ 3,49,000"
3,Nissan,X-Trail,2009-2014 SLX MT,MANUAL,DIESEL,"105,000 km",Third,"Anjappa Layout, Bengaluru",2009,(2009),"₹ 3,20,000"
4,Chevrolet,Cruze,2010-2011 LTZ,MANUAL,DIESEL,"79,000 km",First,"Satyasaibaba Layout, Bengaluru",2009,(2009),"₹ 2,80,000"
...,...,...,...,...,...,...,...,...,...,...,...
156,Ford,Figo,1.5 TDCi Titanium,MANUAL,DIESEL,"5,000 km",First,"RT Nagar, Bengaluru",2020,Aspire (2017),"₹ 5,50,000"
157,Mahindra,Bolero,ZLX,MANUAL,DIESEL,1 km,Second,"Hoskote, Bengaluru",2021,(2014),"₹ 5,75,000"
158,Mahindra,Tuv,T8,MANUAL,DIESEL,"90,000 km",1st,"HSR Layout, Bengaluru",2009,300 (2015),"₹ 6,65,000"
159,Maruti,Suzuki,LXI,MANUAL,PETROL,"56,000 km",2nd,"Karanataka bangalore nagarabhavi 2nd stage, Be...",2009,Alto K10 (2012),"₹ 2,05,000"
160,Maruti,Suzuki,1.3 Delta,MANUAL,DIESEL,"129,092 km",1st,"CV Raman Nagar, Bengaluru",2017,Baleno (2016),"₹ 5,65,000"

* Scraping data of cars in banglore from cardekho:

In [175]:
# lets scrape data from website cardekho
driver=webdriver.Chrome(service=path)
# opening the required website
url="https://www.cardekho.com"
driver.get(url)
time.sleep(2)

In [176]:
# typing cars in search field
s_field=driver.find_element(By.XPATH,"//input[@id='cardekhosearchtext']")
s_field.send_keys("used cars in banglore")
time.sleep(2)
#Clicking search button
s_btn=driver.find_element(By.XPATH,"//button[@class='searchbtn']")
s_btn.click()
time.sleep(3)

In [177]:
# scraping data
brandname_6=[]
model_6=[]
variant_6=[]
year_6=[]
driven_km_6=[]
fuel_6=[]
owner_6=[]
location_6=[]
price_6=[]

In [178]:
b=driver.find_element(By.XPATH,"//a[@class='button']")
b.click()
time.sleep(4)

In [179]:
for i in range(0,20):
    if i>20:
        break
    scr=driver.find_element(By.TAG_NAME,"html")
    scr.send_keys(Keys.END)
    time.sleep(3)
    scr.send_keys(Keys.HOME)
    time.sleep(3)

In [180]:
# scraping car brands
try:
    for i in driver.find_elements(By.XPATH,"//div[@class='gsc_col-xs-6  carsName']/a"):
        brandname_6.append(i.text)
except NoSuchElementException:
    brandname_6.append("----")
# scraping car model
try:
    for i in driver.find_elements(By.XPATH,"//div[@class='gsc_col-xs-6  carsName']/div"):
        model_6.append(i.text)
except NoSuchElementException:
    model_6.append("----")
# scraping car variant
try:
    for i in driver.find_elements(By.XPATH,"//div[@class='dotlist truncate']/span[3]"):
        variant_6.append(i.text)
except NoSuchElementException:
    variant_6.append("----")
# scraping data for driven km
try:
    for i in driver.find_elements(By.XPATH,"//div[@class='dotlist truncate']/span[1]"):
        driven_km_6.append(i.text)
except NoSuchElementException:
    driven_km_6.append("----")
# scraping car fuel type
try:
    for i in driver.find_elements(By.XPATH,"//div[@class='dotlist truncate']/span[2]"):
        fuel_6.append(i.text)
except NoSuchElementException:
    fuel_6.append("----")
# scraping price of the car
try:
    for i in driver.find_elements(By.XPATH,"//div[@class='gsc_col-xs-6 text-right price']/span"):
        price_6.append(i.text)
except NoSuchElementException:
    price_6.append("----")
    time.sleep(4)

In [181]:
urls=[]
for i in range(0,1):
    if i>1:
        break
    
    a=driver.find_elements(By.XPATH,"//div[@class='gsc_col-xs-6  carsName']/a")
    for i in a:
        urls.append(i.get_attribute('href'))
    for i in urls:
        driver.get(i)
        time.sleep(2)

        # scraping car owner no.
        try:
            for i in driver.find_elements(By.XPATH,"//body[@class='Language Smooth']/div[2]/div/div/div/div/main/div/div/div/div[3]/div/div/div/ul/li[6]/div/div[2]"):
                owner_6.append(i.text)
        except NoSuchElementException:
            owner_6.append("----")
        # scraping car location
        try:
            for i in driver.find_elements(By.XPATH,"//span[@class='store-address']"):
                location_6.append(i.text)
        except NoSuchElementException:
            location_6.append("----")

In [182]:
# making dataframe of scraped data from cardekho
df6=pd.DataFrame(list(zip(brandname_6,model_6,variant_6,driven_km_6,fuel_6,owner_6,location_6,price_6)),columns=["BrandName","Model","Variant","Kilometer","Fuel type","Owner","Location","Price"])
df6

,BrandName,Model,Variant,Kilometer,Fuel type,Owner,Location,Price
0,2021 Honda Wr-v,SV,Manual,"4,259 kms",Petrol,1st Owner,Sri Shivananda Stores HSR Layout BookMyCracker...,"10,10,000"
1,2018 Maruti Swift Dzire,VXI 1.2 BS IV,Manual,"26,453 kms",Petrol,1st Owner,"Garuda Mall,Magrath Rd, Ashok Nagar, Bengaluru...","6,98,000"
2,2015 Hyundai Grand I10,Sportz,Manual,"30,613 kms",Petrol,1st Owner,Sri Shivananda Stores HSR Layout BookMyCracker...,"4,50,000"
3,2018 Maruti Alto K10,VXI AGS Optional,Automatic,"28,129 kms",Petrol,1st Owner,Sri Shivananda Stores HSR Layout BookMyCracker...,"4,10,000"
4,2017 Ford Figo,Titanium Diesel,Manual,"1,21,310 kms",Diesel,1st Owner,Sri Shivananda Stores HSR Layout BookMyCracker...,"5,33,500"
...,...,...,...,...,...,...,...,...
330,2017 Renault Kwid,RXT,Manual,"45,227 kms",Petrol,2nd Owner,Sri Shivananda Stores HSR Layout BookMyCracker...,"3,25,000"
331,2021 Tata Harrier,XZ BSIV,Manual,"15,686 kms",Diesel,1st Owner,Sri Shivananda Stores HSR Layout BookMyCracker...,"16,24,000"
332,2020 Hyundai Venue,S Plus,Manual,"4,398 kms",Petrol,1st Owner,"Garuda Mall,Magrath Rd, Ashok Nagar, Bengaluru...","9,11,000"
333,2011 Hyundai I10,Sportz AT,Automatic,"76,797 kms",Petrol,1st Owner,Sri Shivananda Stores HSR Layout BookMyCracker...,"2,99,500"
334,2012 Hyundai Verna,1.6 SX VTVT,Manual,"48,694 kms",Petrol,1st Owner,Sri Shivananda Stores HSR Layout BookMyCracker...,"5,34,000"

In [183]:
df6[['Year','Brand','ModelName']]=pd.DataFrame(df6.BrandName.str.split(' ',2).tolist(),columns=['Year','Brand','ModelName',])

In [184]:
df6.drop('BrandName',axis=1,inplace=True)

In [185]:
df6=df6[['Brand','ModelName','Model','Variant','Fuel type','Kilometer','Owner','Location','Year','Price']]
df6

,Brand,ModelName,Model,Variant,Fuel type,Kilometer,Owner,Location,Year,Price
0,Honda,Wr-v,SV,Manual,Petrol,"4,259 kms",1st Owner,Sri Shivananda Stores HSR Layout BookMyCracker...,2021,"10,10,000"
1,Maruti,Swift Dzire,VXI 1.2 BS IV,Manual,Petrol,"26,453 kms",1st Owner,"Garuda Mall,Magrath Rd, Ashok Nagar, Bengaluru...",2018,"6,98,000"
2,Hyundai,Grand I10,Sportz,Manual,Petrol,"30,613 kms",1st Owner,Sri Shivananda Stores HSR Layout BookMyCracker...,2015,"4,50,000"
3,Maruti,Alto K10,VXI AGS Optional,Automatic,Petrol,"28,129 kms",1st Owner,Sri Shivananda Stores HSR Layout BookMyCracker...,2018,"4,10,000"
4,Ford,Figo,Titanium Diesel,Manual,Diesel,"1,21,310 kms",1st Owner,Sri Shivananda Stores HSR Layout BookMyCracker...,2017,"5,33,500"
...,...,...,...,...,...,...,...,...,...,...
330,Renault,Kwid,RXT,Manual,Petrol,"45,227 kms",2nd Owner,Sri Shivananda Stores HSR Layout BookMyCracker...,2017,"3,25,000"
331,Tata,Harrier,XZ BSIV,Manual,Diesel,"15,686 kms",1st Owner,Sri Shivananda Stores HSR Layout BookMyCracker...,2021,"16,24,000"
332,Hyundai,Venue,S Plus,Manual,Petrol,"4,398 kms",1st Owner,"Garuda Mall,Magrath Rd, Ashok Nagar, Bengaluru...",2020,"9,11,000"
333,Hyundai,I10,Sportz AT,Automatic,Petrol,"76,797 kms",1st Owner,Sri Shivananda Stores HSR Layout BookMyCracker...,2011,"2,99,500"
334,Hyundai,Verna,1.6 SX VTVT,Manual,Petrol,"48,694 kms",1st Owner,Sri Shivananda Stores HSR Layout BookMyCracker...,2012,"5,34,000"

* Scraping Data of cars in delhi from cardekho:

In [111]:
# lets scrape data from website cardekho
driver=webdriver.Chrome(service=path)
# opening the required website
url="https://www.cardekho.com"
driver.get(url)
time.sleep(2)

In [112]:
# typing cars in search field
s_field=driver.find_element(By.XPATH,"//input[@id='cardekhosearchtext']")
s_field.send_keys("used cars in delhi")
time.sleep(2)
#Clicking search button
s_btn=driver.find_element(By.XPATH,"//button[@class='searchbtn']")
s_btn.click()
time.sleep(3)

In [113]:
# scraping data
brandname7=[]
model7=[]
variant7=[]
year7=[]
driven_km7=[]
fuel7=[]
owner7=[]
location7=[]
price7=[]

In [114]:
b=driver.find_element(By.XPATH,"//a[@class='button']")
b.click()
time.sleep(4)

In [115]:
for i in range(0,30):
    if i>20:
        break
    scr=driver.find_element(By.TAG_NAME,"html")
    scr.send_keys(Keys.END)
    time.sleep(3)
    scr.send_keys(Keys.HOME)
    time.sleep(3)

In [116]:
# scraping car brands
try:
    for i in driver.find_elements(By.XPATH,"//div[@class='gsc_col-xs-6  carsName']/a"):
        brandname7.append(i.text)
except NoSuchElementException:
    brandname7.append("----")
# scraping car model
try:
    for i in driver.find_elements(By.XPATH,"//div[@class='gsc_col-xs-6  carsName']/div"):
        model7.append(i.text)
except NoSuchElementException:
    model7.append("----")
# scraping car variant
try:
    for i in driver.find_elements(By.XPATH,"//div[@class='dotlist truncate']/span[3]"):
        variant7.append(i.text)
except NoSuchElementException:
    variant7.append("----")
# scraping data for driven km
try:
    for i in driver.find_elements(By.XPATH,"//div[@class='dotlist truncate']/span[1]"):
        driven_km7.append(i.text)
except NoSuchElementException:
    driven_km7.append("----")
# scraping car fuel type
try:
    for i in driver.find_elements(By.XPATH,"//div[@class='dotlist truncate']/span[2]"):
        fuel7.append(i.text)
except NoSuchElementException:
    fuel7.append("----")
# scraping price of the car
try:
    for i in driver.find_elements(By.XPATH,"//div[@class='gsc_col-xs-6 text-right price']/span"):
        price7.append(i.text)
except NoSuchElementException:
    price7.append("----")
    time.sleep(4)

In [117]:
urls=[]
for i in range(0,1):
    if i>1:
        break
    
    a=driver.find_elements(By.XPATH,"//div[@class='gsc_col-xs-6  carsName']/a")
    for i in a:
        urls.append(i.get_attribute('href'))
    for i in urls:
        driver.get(i)
        time.sleep(2)

        # scraping car owner no.
        try:
            for i in driver.find_elements(By.XPATH,"//body[@class='Language Smooth']/div[2]/div/div/div/div/main/div/div/div/div[3]/div/div/div/ul/li[6]/div/div[2]"):
                owner7.append(i.text)
        except NoSuchElementException:
            owner7.append("----")
        # scraping car location
        try:
            for i in driver.find_elements(By.XPATH,"//span[@class='store-address']"):
                location7.append(i.text)
        except NoSuchElementException:
            location7.append("----")

In [120]:
len(price7)

658

In [119]:
len(owner7)

658

In [121]:
# making dataframe of scraped data from cardekho
df7=pd.DataFrame(list(zip(brandname7,model7,variant7,driven_km7,fuel7,owner7,location7,price7)),columns=["BrandName","Model","Variant","Kilometer","Fuel type","Owner","Location","Price"])
df7

,BrandName,Model,Variant,Kilometer,Fuel type,Owner,Location,Price
0,2021 Mg Hector,Smart AT BSIV,Automatic,"2,842 kms",Petrol,1st Owner,"Khasra No-305,Dera More Fatehpur Beri,Near CNG...","17,75,000"
1,2021 Maruti Baleno,1.2 Zeta,Manual,"14,903 kms",Petrol,1st Owner,"Behind Botanical Garden Metro Station , Multil...","7,35,000"
2,2016 Maruti Vitara Brezza,VDi Option,Manual,"78,703 kms",Diesel,1st Owner,"Behind Botanical Garden Metro Station , Multil...","6,71,500"
3,2013 Honda Brio,E MT,Manual,"33,892 kms",Petrol,1st Owner,"ILD Trade Centre, GF 11, Sohna Rd, Sector 47, ...","3,47,000"
4,2017 Maruti Vitara Brezza,ZDi,Manual,"21,355 kms",Diesel,1st Owner,"Behind Botanical Garden Metro Station , Multil...","7,50,000"
...,...,...,...,...,...,...,...,...
653,2019 Tata Tiago,XZ,Manual,"14,194 kms",Petrol,1st Owner,"Behind Botanical Garden Metro Station , Multil...","4,52,000"
654,2012 Hyundai I10,Magna,Manual,"1,02,145 kms",Petrol,1st Owner,"Khasra No-305,Dera More Fatehpur Beri,Near CNG...","1,70,000"
655,2017 Hyundai Creta,1.6 VTVT AT SX Plus,Automatic,"30,010 kms",Petrol,1st Owner,"Khasra No-305,Dera More Fatehpur Beri,Near CNG...","11,01,000"
656,2017 Honda Amaze,S i-VTEC,Manual,"47,711 kms",Petrol,1st Owner,Ghitorni Metro Station Parking|,"4,55,000"
657,2011 Hyundai I10,Sportz AT,Automatic,"55,107 kms",Petrol,2nd Owner,"ILD Trade Centre, GF 11, Sohna Rd, Sector 47, ...","1,93,000"

In [122]:
df7[['Year','Brand','ModelName']]=pd.DataFrame(df7.BrandName.str.split(' ',2).tolist(),columns=['Year','Brand','ModelName',])

In [123]:
df7.drop('BrandName',axis=1,inplace=True)

In [124]:
df7=df7[['Brand','ModelName','Model','Variant','Fuel type','Kilometer','Owner','Location','Year','Price']]
df7

,Brand,ModelName,Model,Variant,Fuel type,Kilometer,Owner,Location,Year,Price
0,Mg,Hector,Smart AT BSIV,Automatic,Petrol,"2,842 kms",1st Owner,"Khasra No-305,Dera More Fatehpur Beri,Near CNG...",2021,"17,75,000"
1,Maruti,Baleno,1.2 Zeta,Manual,Petrol,"14,903 kms",1st Owner,"Behind Botanical Garden Metro Station , Multil...",2021,"7,35,000"
2,Maruti,Vitara Brezza,VDi Option,Manual,Diesel,"78,703 kms",1st Owner,"Behind Botanical Garden Metro Station , Multil...",2016,"6,71,500"
3,Honda,Brio,E MT,Manual,Petrol,"33,892 kms",1st Owner,"ILD Trade Centre, GF 11, Sohna Rd, Sector 47, ...",2013,"3,47,000"
4,Maruti,Vitara Brezza,ZDi,Manual,Diesel,"21,355 kms",1st Owner,"Behind Botanical Garden Metro Station , Multil...",2017,"7,50,000"
...,...,...,...,...,...,...,...,...,...,...
653,Tata,Tiago,XZ,Manual,Petrol,"14,194 kms",1st Owner,"Behind Botanical Garden Metro Station , Multil...",2019,"4,52,000"
654,Hyundai,I10,Magna,Manual,Petrol,"1,02,145 kms",1st Owner,"Khasra No-305,Dera More Fatehpur Beri,Near CNG...",2012,"1,70,000"
655,Hyundai,Creta,1.6 VTVT AT SX Plus,Automatic,Petrol,"30,010 kms",1st Owner,"Khasra No-305,Dera More Fatehpur Beri,Near CNG...",2017,"11,01,000"
656,Honda,Amaze,S i-VTEC,Manual,Petrol,"47,711 kms",1st Owner,Ghitorni Metro Station Parking|,2017,"4,55,000"
657,Hyundai,I10,Sportz AT,Automatic,Petrol,"55,107 kms",2nd Owner,"ILD Trade Centre, GF 11, Sohna Rd, Sector 47, ...",2011,"1,93,000"

* Scraping data of cars from Mumbai:

In [125]:
# lets scrape data from website cardekho
driver=webdriver.Chrome(service=path)
# opening the required website
url="https://www.cardekho.com"
driver.get(url)
time.sleep(2)

In [126]:
# typing cars in search field
s_field=driver.find_element(By.XPATH,"//input[@id='cardekhosearchtext']")
s_field.send_keys("used cars in mumbai")
time.sleep(2)
#Clicking search button
s_btn=driver.find_element(By.XPATH,"//button[@class='searchbtn']")
s_btn.click()
time.sleep(3)

In [127]:
# scraping data
brandname8=[]
model8=[]
variant8=[]
year8=[]
driven_km8=[]
fuel8=[]
owner8=[]
location8=[]
price8=[]

In [128]:
b=driver.find_element(By.XPATH,"//a[@class='button']")
b.click()
time.sleep(4)

In [129]:
for i in range(0,20):
    if i>20:
        break
    scr=driver.find_element(By.TAG_NAME,"html")
    scr.send_keys(Keys.END)
    time.sleep(3)
    scr.send_keys(Keys.HOME)
    time.sleep(3)

In [130]:
# scraping car brands
try:
    for i in driver.find_elements(By.XPATH,"//div[@class='gsc_col-xs-6  carsName']/a"):
        brandname8.append(i.text)
except NoSuchElementException:
    brandname8.append("----")
# scraping car model
try:
    for i in driver.find_elements(By.XPATH,"//div[@class='gsc_col-xs-6  carsName']/div"):
        model8.append(i.text)
except NoSuchElementException:
    model8.append("----")
# scraping car variant
try:
    for i in driver.find_elements(By.XPATH,"//div[@class='dotlist truncate']/span[3]"):
        variant8.append(i.text)
except NoSuchElementException:
    variant8.append("----")
# scraping data for driven km
try:
    for i in driver.find_elements(By.XPATH,"//div[@class='dotlist truncate']/span[1]"):
        driven_km8.append(i.text)
except NoSuchElementException:
    driven_km8.append("----")
# scraping car fuel type
try:
    for i in driver.find_elements(By.XPATH,"//div[@class='dotlist truncate']/span[2]"):
        fuel8.append(i.text)
except NoSuchElementException:
    fuel8.append("----")
# scraping price of the car
try:
    for i in driver.find_elements(By.XPATH,"//div[@class='gsc_col-xs-6 text-right price']/span"):
        price8.append(i.text)
except NoSuchElementException:
    price8.append("----")
    time.sleep(4)

In [131]:
urls=[]
for i in range(0,1):
    if i>1:
        break
    
    a=driver.find_elements(By.XPATH,"//div[@class='gsc_col-xs-6  carsName']/a")
    for i in a:
        urls.append(i.get_attribute('href'))
    for i in urls:
        driver.get(i)
        time.sleep(2)

        # scraping car owner no.
        try:
            for i in driver.find_elements(By.XPATH,"//body[@class='Language Smooth']/div[2]/div/div/div/div/main/div/div/div/div[3]/div/div/div/ul/li[6]/div/div[2]"):
                owner8.append(i.text)
        except NoSuchElementException:
            owner8.append("----")
        # scraping car location
        try:
            for i in driver.find_elements(By.XPATH,"//span[@class='store-address']"):
                location8.append(i.text)
        except NoSuchElementException:
            location8.append("----")

In [132]:
# making dataframe of scraped data from cardekho
df8=pd.DataFrame(list(zip(brandname8,model8,variant8,driven_km8,fuel8,owner8,location8,price8)),columns=["BrandName","Model","Variant","Kilometer","Fuel type","Owner","Location","Price"])
df8

,BrandName,Model,Variant,Kilometer,Fuel type,Owner,Location,Price
0,2019 Maruti Baleno,Zeta,Manual,"28,961 kms",Petrol,1st Owner,MCGM Parking The Address Wadhwa Ground Floor O...,"6,60,000"
1,2013 Maruti Swift,VXI,Manual,"64,861 kms",Petrol,1st Owner,MCGM Parking Lodha Fiorenza Ground Floor Adjac...,"3,47,500"
2,2014 Maruti Wagon R,VXI,Manual,"33,228 kms",Petrol,1st Owner,MCGM Parking Lodha Fiorenza Ground Floor Adjac...,"3,25,000"
3,2019 Maruti Swift Dzire,AMT ZXI BS IV,Automatic,"6,549 kms",Petrol,1st Owner,MCGM Parking The Address Wadhwa Ground Floor O...,"7,60,000"
4,2014 Maruti Wagon R,VXI BS IV,Manual,"28,498 kms",Petrol,1st Owner,MCGM Parking The Address Wadhwa Ground Floor O...,"3,14,500"
...,...,...,...,...,...,...,...,...
482,2012 Volkswagen Polo,Diesel Trendline 1.2L,Manual,"53,162 kms",Diesel,1st Owner,MCGM Parking Lodha Fiorenza Ground Floor Adjac...,"2,60,000"
483,2015 Honda City,i VTEC SV,Manual,"61,271 kms",Petrol,1st Owner,MCGM Parking The Address Wadhwa Ground Floor O...,"4,96,500"
484,2016 Maruti Wagon R,CNG LXI BSIV,Manual,"74,389 kms",CNG,1st Owner,MCGM Parking The Address Wadhwa Ground Floor O...,"3,60,000"
485,2013 Hyundai Verna,1.6 SX VTVT,Manual,"77,056 kms",Petrol,1st Owner,MCGM Parking Lodha Fiorenza Ground Floor Adjac...,"4,55,000"
486,2017 Hyundai I20,1.2 Magna Executive,Manual,"10,610 kms",Petrol,1st Owner,MCGM Parking The Address Wadhwa Ground Floor O...,"5,32,000"

In [133]:
df8[['Year','Brand','ModelName']]=pd.DataFrame(df8.BrandName.str.split(' ',2).tolist(),columns=['Year','Brand','ModelName',])

In [134]:
df8.drop('BrandName',axis=1,inplace=True)

In [135]:
df8=df8[['Brand','ModelName','Model','Variant','Fuel type','Kilometer','Owner','Location','Year','Price']]
df8

,Brand,ModelName,Model,Variant,Fuel type,Kilometer,Owner,Location,Year,Price
0,Maruti,Baleno,Zeta,Manual,Petrol,"28,961 kms",1st Owner,MCGM Parking The Address Wadhwa Ground Floor O...,2019,"6,60,000"
1,Maruti,Swift,VXI,Manual,Petrol,"64,861 kms",1st Owner,MCGM Parking Lodha Fiorenza Ground Floor Adjac...,2013,"3,47,500"
2,Maruti,Wagon R,VXI,Manual,Petrol,"33,228 kms",1st Owner,MCGM Parking Lodha Fiorenza Ground Floor Adjac...,2014,"3,25,000"
3,Maruti,Swift Dzire,AMT ZXI BS IV,Automatic,Petrol,"6,549 kms",1st Owner,MCGM Parking The Address Wadhwa Ground Floor O...,2019,"7,60,000"
4,Maruti,Wagon R,VXI BS IV,Manual,Petrol,"28,498 kms",1st Owner,MCGM Parking The Address Wadhwa Ground Floor O...,2014,"3,14,500"
...,...,...,...,...,...,...,...,...,...,...
482,Volkswagen,Polo,Diesel Trendline 1.2L,Manual,Diesel,"53,162 kms",1st Owner,MCGM Parking Lodha Fiorenza Ground Floor Adjac...,2012,"2,60,000"
483,Honda,City,i VTEC SV,Manual,Petrol,"61,271 kms",1st Owner,MCGM Parking The Address Wadhwa Ground Floor O...,2015,"4,96,500"
484,Maruti,Wagon R,CNG LXI BSIV,Manual,CNG,"74,389 kms",1st Owner,MCGM Parking The Address Wadhwa Ground Floor O...,2016,"3,60,000"
485,Hyundai,Verna,1.6 SX VTVT,Manual,Petrol,"77,056 kms",1st Owner,MCGM Parking Lodha Fiorenza Ground Floor Adjac...,2013,"4,55,000"
486,Hyundai,I20,1.2 Magna Executive,Manual,Petrol,"10,610 kms",1st Owner,MCGM Parking The Address Wadhwa Ground Floor O...,2017,"5,32,000"

* Scraping data of cars in chennai from cardekho

In [136]:
# lets scrape data from website cardekho
driver=webdriver.Chrome(service=path)
# opening the required website
url="https://www.cardekho.com"
driver.get(url)
time.sleep(2)

In [140]:
# typing cars in search field
s_field=driver.find_element(By.XPATH,"//input[@id='cardekhosearchtext']")
s_field.send_keys("used cars in mumbai")
time.sleep(2)
#Clicking search button
s_btn=driver.find_element(By.XPATH,"//button[@class='searchbtn']")
s_btn.click()
time.sleep(3)

In [141]:
# scraping data
brandname9=[]
model9=[]
variant9=[]
year9=[]
driven_km9=[]
fuel9=[]
owner9=[]
location9=[]
price9=[]

In [142]:
b=driver.find_element(By.XPATH,"//a[@class='button']")
b.click()
time.sleep(4)

In [143]:
for i in range(0,20):
    if i>20:
        break
    scr=driver.find_element(By.TAG_NAME,"html")
    scr.send_keys(Keys.END)
    time.sleep(3)
    scr.send_keys(Keys.HOME)
    time.sleep(3)

In [144]:
# scraping car brands
try:
    for i in driver.find_elements(By.XPATH,"//div[@class='gsc_col-xs-6  carsName']/a"):
        brandname9.append(i.text)
except NoSuchElementException:
    brandname9.append("----")
# scraping car model
try:
    for i in driver.find_elements(By.XPATH,"//div[@class='gsc_col-xs-6  carsName']/div"):
        model9.append(i.text)
except NoSuchElementException:
    model9.append("----")
# scraping car variant
try:
    for i in driver.find_elements(By.XPATH,"//div[@class='dotlist truncate']/span[3]"):
        variant9.append(i.text)
except NoSuchElementException:
    variant9.append("----")
# scraping data for driven km
try:
    for i in driver.find_elements(By.XPATH,"//div[@class='dotlist truncate']/span[1]"):
        driven_km9.append(i.text)
except NoSuchElementException:
    driven_km9.append("----")
# scraping car fuel type
try:
    for i in driver.find_elements(By.XPATH,"//div[@class='dotlist truncate']/span[2]"):
        fuel9.append(i.text)
except NoSuchElementException:
    fuel9.append("----")
# scraping price of the car
try:
    for i in driver.find_elements(By.XPATH,"//div[@class='gsc_col-xs-6 text-right price']/span"):
        price9.append(i.text)
except NoSuchElementException:
    price9.append("----")
    time.sleep(4)

In [145]:
urls=[]
for i in range(0,1):
    if i>1:
        break
    
    a=driver.find_elements(By.XPATH,"//div[@class='gsc_col-xs-6  carsName']/a")
    for i in a:
        urls.append(i.get_attribute('href'))
    for i in urls:
        driver.get(i)
        time.sleep(2)

        # scraping car owner no.
        try:
            for i in driver.find_elements(By.XPATH,"//body[@class='Language Smooth']/div[2]/div/div/div/div/main/div/div/div/div[3]/div/div/div/ul/li[6]/div/div[2]"):
                owner9.append(i.text)
        except NoSuchElementException:
            owner9.append("----")
        # scraping car location
        try:
            for i in driver.find_elements(By.XPATH,"//span[@class='store-address']"):
                location9.append(i.text)
        except NoSuchElementException:
            location9.append("----")

In [146]:
# making dataframe of scraped data from cardekho
df9=pd.DataFrame(list(zip(brandname9,model9,variant9,driven_km9,fuel9,owner9,location9,price9)),columns=["BrandName","Model","Variant","Kilometer","Fuel type","Owner","Location","Price"])
df9

,BrandName,Model,Variant,Kilometer,Fuel type,Owner,Location,Price
0,2014 Maruti Swift,VXI,Manual,"23,274 kms",Petrol,1st Owner,MCGM Parking Lodha Fiorenza Ground Floor Adjac...,"4,75,000"
1,2019 Maruti Baleno,Zeta,Manual,"28,961 kms",Petrol,1st Owner,MCGM Parking The Address Wadhwa Ground Floor O...,"6,60,000"
2,2013 Maruti Swift,VXI,Manual,"64,861 kms",Petrol,1st Owner,MCGM Parking Lodha Fiorenza Ground Floor Adjac...,"3,47,500"
3,2014 Maruti Wagon R,VXI,Manual,"33,228 kms",Petrol,1st Owner,MCGM Parking Lodha Fiorenza Ground Floor Adjac...,"3,25,000"
4,2019 Maruti Swift Dzire,AMT ZXI BS IV,Automatic,"6,549 kms",Petrol,1st Owner,MCGM Parking The Address Wadhwa Ground Floor O...,"7,60,000"
...,...,...,...,...,...,...,...,...
481,2012 Volkswagen Polo,Diesel Trendline 1.2L,Manual,"53,162 kms",Diesel,1st Owner,MCGM Parking Lodha Fiorenza Ground Floor Adjac...,"2,60,000"
482,2015 Honda City,i VTEC SV,Manual,"61,271 kms",Petrol,1st Owner,MCGM Parking The Address Wadhwa Ground Floor O...,"4,96,500"
483,2016 Maruti Wagon R,CNG LXI BSIV,Manual,"74,389 kms",CNG,1st Owner,MCGM Parking The Address Wadhwa Ground Floor O...,"3,60,000"
484,2013 Hyundai Verna,1.6 SX VTVT,Manual,"77,056 kms",Petrol,1st Owner,MCGM Parking Lodha Fiorenza Ground Floor Adjac...,"4,55,000"
485,2017 Hyundai I20,1.2 Magna Executive,Manual,"10,610 kms",Petrol,1st Owner,MCGM Parking The Address Wadhwa Ground Floor O...,"5,32,000"

In [147]:
df9[['Year','Brand','ModelName']]=pd.DataFrame(df9.BrandName.str.split(' ',2).tolist(),columns=['Year','Brand','ModelName',])

In [148]:
df9.drop('BrandName',axis=1,inplace=True)

In [149]:
df9=df9[['Brand','ModelName','Model','Variant','Fuel type','Kilometer','Owner','Location','Year','Price']]
df9

,Brand,ModelName,Model,Variant,Fuel type,Kilometer,Owner,Location,Year,Price
0,Maruti,Swift,VXI,Manual,Petrol,"23,274 kms",1st Owner,MCGM Parking Lodha Fiorenza Ground Floor Adjac...,2014,"4,75,000"
1,Maruti,Baleno,Zeta,Manual,Petrol,"28,961 kms",1st Owner,MCGM Parking The Address Wadhwa Ground Floor O...,2019,"6,60,000"
2,Maruti,Swift,VXI,Manual,Petrol,"64,861 kms",1st Owner,MCGM Parking Lodha Fiorenza Ground Floor Adjac...,2013,"3,47,500"
3,Maruti,Wagon R,VXI,Manual,Petrol,"33,228 kms",1st Owner,MCGM Parking Lodha Fiorenza Ground Floor Adjac...,2014,"3,25,000"
4,Maruti,Swift Dzire,AMT ZXI BS IV,Automatic,Petrol,"6,549 kms",1st Owner,MCGM Parking The Address Wadhwa Ground Floor O...,2019,"7,60,000"
...,...,...,...,...,...,...,...,...,...,...
481,Volkswagen,Polo,Diesel Trendline 1.2L,Manual,Diesel,"53,162 kms",1st Owner,MCGM Parking Lodha Fiorenza Ground Floor Adjac...,2012,"2,60,000"
482,Honda,City,i VTEC SV,Manual,Petrol,"61,271 kms",1st Owner,MCGM Parking The Address Wadhwa Ground Floor O...,2015,"4,96,500"
483,Maruti,Wagon R,CNG LXI BSIV,Manual,CNG,"74,389 kms",1st Owner,MCGM Parking The Address Wadhwa Ground Floor O...,2016,"3,60,000"
484,Hyundai,Verna,1.6 SX VTVT,Manual,Petrol,"77,056 kms",1st Owner,MCGM Parking Lodha Fiorenza Ground Floor Adjac...,2013,"4,55,000"
485,Hyundai,I20,1.2 Magna Executive,Manual,Petrol,"10,610 kms",1st Owner,MCGM Parking The Address Wadhwa Ground Floor O...,2017,"5,32,000"

* Scraping data of cars in  Kolkatta from cardekho

In [150]:
# lets scrape data from website cardekho
driver=webdriver.Chrome(service=path)
# opening the required website
url="https://www.cardekho.com"
driver.get(url)
time.sleep(2)

In [154]:
# typing cars in search field
s_field=driver.find_element(By.XPATH,"//input[@id='cardekhosearchtext']")
s_field.send_keys("used cars in mumbai")
time.sleep(2)
#Clicking search button
s_btn=driver.find_element(By.XPATH,"//button[@class='searchbtn']")
s_btn.click()
time.sleep(3)

In [155]:
# scraping data
brandname10=[]
model10=[]
variant10=[]
year10=[]
driven_km10=[]
fuel10=[]
owner10=[]
location10=[]
price10=[]

In [156]:
b=driver.find_element(By.XPATH,"//a[@class='button']")
b.click()
time.sleep(4)

In [157]:
for i in range(0,20):
    if i>20:
        break
    scr=driver.find_element(By.TAG_NAME,"html")
    scr.send_keys(Keys.END)
    time.sleep(3)
    scr.send_keys(Keys.HOME)
    time.sleep(3)

In [158]:
# scraping car brands
try:
    for i in driver.find_elements(By.XPATH,"//div[@class='gsc_col-xs-6  carsName']/a"):
        brandname10.append(i.text)
except NoSuchElementException:
    brandname10.append("----")
# scraping car model
try:
    for i in driver.find_elements(By.XPATH,"//div[@class='gsc_col-xs-6  carsName']/div"):
        model10.append(i.text)
except NoSuchElementException:
    model10.append("----")
# scraping car variant
try:
    for i in driver.find_elements(By.XPATH,"//div[@class='dotlist truncate']/span[3]"):
        variant10.append(i.text)
except NoSuchElementException:
    variant10.append("----")
# scraping data for driven km
try:
    for i in driver.find_elements(By.XPATH,"//div[@class='dotlist truncate']/span[1]"):
        driven_km10.append(i.text)
except NoSuchElementException:
    driven_km10.append("----")
# scraping car fuel type
try:
    for i in driver.find_elements(By.XPATH,"//div[@class='dotlist truncate']/span[2]"):
        fuel10.append(i.text)
except NoSuchElementException:
    fuel10.append("----")
# scraping price of the car
try:
    for i in driver.find_elements(By.XPATH,"//div[@class='gsc_col-xs-6 text-right price']/span"):
        price10.append(i.text)
except NoSuchElementException:
    price10.append("----")
    time.sleep(4)

In [159]:
urls=[]
for i in range(0,1):
    if i>1:
        break
    
    a=driver.find_elements(By.XPATH,"//div[@class='gsc_col-xs-6  carsName']/a")
    for i in a:
        urls.append(i.get_attribute('href'))
    for i in urls:
        driver.get(i)
        time.sleep(2)

        # scraping car owner no.
        try:
            for i in driver.find_elements(By.XPATH,"//body[@class='Language Smooth']/div[2]/div/div/div/div/main/div/div/div/div[3]/div/div/div/ul/li[6]/div/div[2]"):
                owner10.append(i.text)
        except NoSuchElementException:
            owner10.append("----")
        # scraping car location
        try:
            for i in driver.find_elements(By.XPATH,"//span[@class='store-address']"):
                location10.append(i.text)
        except NoSuchElementException:
            location10.append("----")

In [160]:
# making dataframe of scraped data from cardekho
df10=pd.DataFrame(list(zip(brandname10,model10,variant10,driven_km10,fuel10,owner10,location10,price10)),columns=["BrandName","Model","Variant","Kilometer","Fuel type","Owner","Location","Price"])
df10

,BrandName,Model,Variant,Kilometer,Fuel type,Owner,Location,Price
0,2014 Maruti Swift,VXI,Manual,"23,274 kms",Petrol,1st Owner,MCGM Parking Lodha Fiorenza Ground Floor Adjac...,"4,75,000"
1,2014 Hyundai I20,Magna 1.2,Manual,"46,628 kms",Petrol,1st Owner,MCGM Parking The Address Wadhwa Ground Floor O...,"4,45,500"
2,2019 Maruti Baleno,Zeta,Manual,"28,961 kms",Petrol,1st Owner,MCGM Parking The Address Wadhwa Ground Floor O...,"6,60,000"
3,2013 Maruti Swift,VXI,Manual,"64,861 kms",Petrol,1st Owner,MCGM Parking Lodha Fiorenza Ground Floor Adjac...,"3,47,500"
4,2014 Maruti Wagon R,VXI,Manual,"33,228 kms",Petrol,1st Owner,MCGM Parking Lodha Fiorenza Ground Floor Adjac...,"3,25,000"
...,...,...,...,...,...,...,...,...
481,2012 Volkswagen Polo,Diesel Trendline 1.2L,Manual,"53,162 kms",Diesel,1st Owner,MCGM Parking Lodha Fiorenza Ground Floor Adjac...,"2,60,000"
482,2015 Honda City,i VTEC SV,Manual,"61,271 kms",Petrol,1st Owner,MCGM Parking The Address Wadhwa Ground Floor O...,"4,96,500"
483,2016 Maruti Wagon R,CNG LXI BSIV,Manual,"74,389 kms",CNG,1st Owner,MCGM Parking The Address Wadhwa Ground Floor O...,"3,60,000"
484,2013 Hyundai Verna,1.6 SX VTVT,Manual,"77,056 kms",Petrol,1st Owner,MCGM Parking Lodha Fiorenza Ground Floor Adjac...,"4,55,000"
485,2017 Hyundai I20,1.2 Magna Executive,Manual,"10,610 kms",Petrol,1st Owner,MCGM Parking The Address Wadhwa Ground Floor O...,"5,32,000"

In [161]:
df10[['Year','Brand','ModelName']]=pd.DataFrame(df10.BrandName.str.split(' ',2).tolist(),columns=['Year','Brand','ModelName',])

In [162]:
df10.drop('BrandName',axis=1,inplace=True)

In [163]:
df10=df10[['Brand','ModelName','Model','Variant','Fuel type','Kilometer','Owner','Location','Year','Price']]
df10

,Brand,ModelName,Model,Variant,Fuel type,Kilometer,Owner,Location,Year,Price
0,Maruti,Swift,VXI,Manual,Petrol,"23,274 kms",1st Owner,MCGM Parking Lodha Fiorenza Ground Floor Adjac...,2014,"4,75,000"
1,Hyundai,I20,Magna 1.2,Manual,Petrol,"46,628 kms",1st Owner,MCGM Parking The Address Wadhwa Ground Floor O...,2014,"4,45,500"
2,Maruti,Baleno,Zeta,Manual,Petrol,"28,961 kms",1st Owner,MCGM Parking The Address Wadhwa Ground Floor O...,2019,"6,60,000"
3,Maruti,Swift,VXI,Manual,Petrol,"64,861 kms",1st Owner,MCGM Parking Lodha Fiorenza Ground Floor Adjac...,2013,"3,47,500"
4,Maruti,Wagon R,VXI,Manual,Petrol,"33,228 kms",1st Owner,MCGM Parking Lodha Fiorenza Ground Floor Adjac...,2014,"3,25,000"
...,...,...,...,...,...,...,...,...,...,...
481,Volkswagen,Polo,Diesel Trendline 1.2L,Manual,Diesel,"53,162 kms",1st Owner,MCGM Parking Lodha Fiorenza Ground Floor Adjac...,2012,"2,60,000"
482,Honda,City,i VTEC SV,Manual,Petrol,"61,271 kms",1st Owner,MCGM Parking The Address Wadhwa Ground Floor O...,2015,"4,96,500"
483,Maruti,Wagon R,CNG LXI BSIV,Manual,CNG,"74,389 kms",1st Owner,MCGM Parking The Address Wadhwa Ground Floor O...,2016,"3,60,000"
484,Hyundai,Verna,1.6 SX VTVT,Manual,Petrol,"77,056 kms",1st Owner,MCGM Parking Lodha Fiorenza Ground Floor Adjac...,2013,"4,55,000"
485,Hyundai,I20,1.2 Magna Executive,Manual,Petrol,"10,610 kms",1st Owner,MCGM Parking The Address Wadhwa Ground Floor O...,2017,"5,32,000"

* Scraping data of cars in hyderabad

In [164]:
# lets scrape data from website cardekho
driver=webdriver.Chrome(service=path)
# opening the required website
url="https://www.cardekho.com"
driver.get(url)
time.sleep(2)

In [165]:
# typing cars in search field
s_field=driver.find_element(By.XPATH,"//input[@id='cardekhosearchtext']")
s_field.send_keys("used cars in hyderabad")
time.sleep(2)
#Clicking search button
s_btn=driver.find_element(By.XPATH,"//button[@class='searchbtn']")
s_btn.click()
time.sleep(3)

In [166]:
# scraping data
brandname11=[]
model11=[]
variant11=[]
year11=[]
driven_km11=[]
fuel11=[]
owner11=[]
location11=[]
price11=[]

In [167]:
b=driver.find_element(By.XPATH,"//a[@class='button']")
b.click()
time.sleep(4)

In [168]:
for i in range(0,20):
    if i>20:
        break
    scr=driver.find_element(By.TAG_NAME,"html")
    scr.send_keys(Keys.END)
    time.sleep(3)
    scr.send_keys(Keys.HOME)
    time.sleep(3)

In [169]:
# scraping car brands
try:
    for i in driver.find_elements(By.XPATH,"//div[@class='gsc_col-xs-6  carsName']/a"):
        brandname11.append(i.text)
except NoSuchElementException:
    brandname11.append("----")
# scraping car model
try:
    for i in driver.find_elements(By.XPATH,"//div[@class='gsc_col-xs-6  carsName']/div"):
        model11.append(i.text)
except NoSuchElementException:
    model11.append("----")
# scraping car variant
try:
    for i in driver.find_elements(By.XPATH,"//div[@class='dotlist truncate']/span[3]"):
        variant11.append(i.text)
except NoSuchElementException:
    variant11.append("----")
# scraping data for driven km
try:
    for i in driver.find_elements(By.XPATH,"//div[@class='dotlist truncate']/span[1]"):
        driven_km11.append(i.text)
except NoSuchElementException:
    driven_km11.append("----")
# scraping car fuel type
try:
    for i in driver.find_elements(By.XPATH,"//div[@class='dotlist truncate']/span[2]"):
        fuel11.append(i.text)
except NoSuchElementException:
    fuel11.append("----")
# scraping price of the car
try:
    for i in driver.find_elements(By.XPATH,"//div[@class='gsc_col-xs-6 text-right price']/span"):
        price11.append(i.text)
except NoSuchElementException:
    price11.append("----")
    time.sleep(4)

In [170]:
urls=[]
for i in range(0,1):
    if i>1:
        break
    
    a=driver.find_elements(By.XPATH,"//div[@class='gsc_col-xs-6  carsName']/a")
    for i in a:
        urls.append(i.get_attribute('href'))
    for i in urls:
        driver.get(i)
        time.sleep(2)

        # scraping car owner no.
        try:
            for i in driver.find_elements(By.XPATH,"//body[@class='Language Smooth']/div[2]/div/div/div/div/main/div/div/div/div[3]/div/div/div/ul/li[6]/div/div[2]"):
                owner11.append(i.text)
        except NoSuchElementException:
            owner11.append("----")
        # scraping car location
        try:
            for i in driver.find_elements(By.XPATH,"//span[@class='store-address']"):
                location11.append(i.text)
        except NoSuchElementException:
            location11.append("----")

In [171]:
# making dataframe of scraped data from cardekho
df11=pd.DataFrame(list(zip(brandname11,model11,variant11,driven_km11,fuel11,owner11,location11,price11)),columns=["BrandName","Model","Variant","Kilometer","Fuel type","Owner","Location","Price"])
df11

,BrandName,Model,Variant,Kilometer,Fuel type,Owner,Location,Price
0,2016 Hyundai I20,Magna 1.4 CRDi,Manual,"85,120 kms",Diesel,3rd Owner,Serve No 40/AA 48/AA 49/AA Attapur To Nandimus...,"5,80,000"
1,2015 Hyundai Grand I10,Sportz,Manual,"43,336 kms",Petrol,1st Owner,Serve No 40/AA 48/AA 49/AA Attapur To Nandimus...,"4,55,000"
2,2017 Maruti Swift,VDI Optional,Manual,"36,569 kms",Diesel,1st Owner,Serve No 40/AA 48/AA 49/AA Attapur To Nandimus...,"5,81,500"
3,2015 Hyundai Grand I10,Sportz,Manual,"47,361 kms",Petrol,1st Owner,Serve No 40/AA 48/AA 49/AA Attapur To Nandimus...,"4,25,000"
4,2019 Renault Kwid,RXT Optional,Manual,"17,166 kms",Petrol,1st Owner,Serve No 40/AA 48/AA 49/AA Attapur To Nandimus...,"4,20,000"
...,...,...,...,...,...,...,...,...
179,2016 Maruti Ritz,LDi,Manual,"73,911 kms",Diesel,2nd Owner,Serve No 40/AA 48/AA 49/AA Attapur To Nandimus...,"2,86,500"
180,2018 Maruti Alto 800,LXI,Manual,"19,864 kms",Petrol,1st Owner,Serve No 40/AA 48/AA 49/AA Attapur To Nandimus...,"2,84,500"
181,2012 Maruti Swift,VDI,Manual,"58,569 kms",Diesel,1st Owner,Serve No 40/AA 48/AA 49/AA Attapur To Nandimus...,"3,59,000"
182,2019 Tata Tiago,XZA Plus,Automatic,"15,346 kms",Petrol,1st Owner,Serve No 40/AA 48/AA 49/AA Attapur To Nandimus...,"5,72,500"
183,2017 Mahindra Kuv 100,mFALCON G80 K6 Plus,Manual,"24,505 kms",Petrol,1st Owner,Serve No 40/AA 48/AA 49/AA Attapur To Nandimus...,"4,38,000"

In [172]:
df11[['Year','Brand','ModelName']]=pd.DataFrame(df11.BrandName.str.split(' ',2).tolist(),columns=['Year','Brand','ModelName',])

In [173]:
df11.drop('BrandName',axis=1,inplace=True)

In [174]:
df11=df11[['Brand','ModelName','Model','Variant','Fuel type','Kilometer','Owner','Location','Year','Price']]
df11

,Brand,ModelName,Model,Variant,Fuel type,Kilometer,Owner,Location,Year,Price
0,Hyundai,I20,Magna 1.4 CRDi,Manual,Diesel,"85,120 kms",3rd Owner,Serve No 40/AA 48/AA 49/AA Attapur To Nandimus...,2016,"5,80,000"
1,Hyundai,Grand I10,Sportz,Manual,Petrol,"43,336 kms",1st Owner,Serve No 40/AA 48/AA 49/AA Attapur To Nandimus...,2015,"4,55,000"
2,Maruti,Swift,VDI Optional,Manual,Diesel,"36,569 kms",1st Owner,Serve No 40/AA 48/AA 49/AA Attapur To Nandimus...,2017,"5,81,500"
3,Hyundai,Grand I10,Sportz,Manual,Petrol,"47,361 kms",1st Owner,Serve No 40/AA 48/AA 49/AA Attapur To Nandimus...,2015,"4,25,000"
4,Renault,Kwid,RXT Optional,Manual,Petrol,"17,166 kms",1st Owner,Serve No 40/AA 48/AA 49/AA Attapur To Nandimus...,2019,"4,20,000"
...,...,...,...,...,...,...,...,...,...,...
179,Maruti,Ritz,LDi,Manual,Diesel,"73,911 kms",2nd Owner,Serve No 40/AA 48/AA 49/AA Attapur To Nandimus...,2016,"2,86,500"
180,Maruti,Alto 800,LXI,Manual,Petrol,"19,864 kms",1st Owner,Serve No 40/AA 48/AA 49/AA Attapur To Nandimus...,2018,"2,84,500"
181,Maruti,Swift,VDI,Manual,Diesel,"58,569 kms",1st Owner,Serve No 40/AA 48/AA 49/AA Attapur To Nandimus...,2012,"3,59,000"
182,Tata,Tiago,XZA Plus,Automatic,Petrol,"15,346 kms",1st Owner,Serve No 40/AA 48/AA 49/AA Attapur To Nandimus...,2019,"5,72,500"
183,Mahindra,Kuv 100,mFALCON G80 K6 Plus,Manual,Petrol,"24,505 kms",1st Owner,Serve No 40/AA 48/AA 49/AA Attapur To Nandimus...,2017,"4,38,000"

In [209]:
# assembeling all scrapped data into one dataframe and giving variable name data
df=pd.DataFrame()

In [211]:
df=df.append([df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11],ignore_index=True)
df

,Brand,ModelName,Model,Variant,Fuel type,Kilometer,Owner,Location,Year,mn_year,Price
0,Hyundai,Santro,Sportz CNG,MANUAL,CNG & HYBRIDS,"62,557 km",1st,"Rohini Sector 10, Delhi",2018,(2018),"₹ 5,76,800"
1,Hyundai,Elite,Magna 1.2,MANUAL,PETROL,"52,000 km",1st,"New Rajdhani Enclave, Delhi",2015,I20 (2015),"₹ 4,89,999"
2,Toyota,Etios,2013-2014 G Xclusive Edition,MANUAL,PETROL,"33,000 km",1st,"Vikaspuri, Delhi",2014,Liva (2014),"₹ 3,35,000"
3,Hyundai,I10,1.1L iRDE ERA Special Edition,MANUAL,CNG,"70,000 km",Second,"Bharthal, Delhi",2009,(2009),"₹ 1,15,000"
4,Mahindra,Xuv500,2011-2015 W8 4WD,MANUAL,DIESEL,"90,000 km",Second,"Daryaganj, Delhi",2011,(2011),"₹ 5,00,000"
...,...,...,...,...,...,...,...,...,...,...,...
4616,Maruti,Ritz,LDi,Manual,Diesel,"73,911 kms",2nd Owner,Serve No 40/AA 48/AA 49/AA Attapur To Nandimus...,2016,NaN,"2,86,500"
4617,Maruti,Alto 800,LXI,Manual,Petrol,"19,864 kms",1st Owner,Serve No 40/AA 48/AA 49/AA Attapur To Nandimus...,2018,NaN,"2,84,500"
4618,Maruti,Swift,VDI,Manual,Diesel,"58,569 kms",1st Owner,Serve No 40/AA 48/AA 49/AA Attapur To Nandimus...,2012,NaN,"3,59,000"
4619,Tata,Tiago,XZA Plus,Automatic,Petrol,"15,346 kms",1st Owner,Serve No 40/AA 48/AA 49/AA Attapur To Nandimus...,2019,NaN,"5,72,500"
4620,Mahindra,Kuv 100,mFALCON G80 K6 Plus,Manual,Petrol,"24,505 kms",1st Owner,Serve No 40/AA 48/AA 49/AA Attapur To Nandimus...,2017,NaN,"4,38,000"

In [213]:
# Saving file in excel format
df.to_excel('usedcardata.xlsx')

In [219]:
data=pd.read_excel('usedcardata.xlsx')
data

,Unnamed: 0,Brand,ModelName,Model,Variant,Fuel type,Kilometer,Owner,Location,Year,mn_year,Price
0,0,Hyundai,Santro,Sportz CNG,MANUAL,CNG & HYBRIDS,"62,557 km",1st,"Rohini Sector 10, Delhi",2018,(2018),"₹ 5,76,800"
1,1,Hyundai,Elite,Magna 1.2,MANUAL,PETROL,"52,000 km",1st,"New Rajdhani Enclave, Delhi",2015,I20 (2015),"₹ 4,89,999"
2,2,Toyota,Etios,2013-2014 G Xclusive Edition,MANUAL,PETROL,"33,000 km",1st,"Vikaspuri, Delhi",2014,Liva (2014),"₹ 3,35,000"
3,3,Hyundai,I10,1.1L iRDE ERA Special Edition,MANUAL,CNG,"70,000 km",Second,"Bharthal, Delhi",2009,(2009),"₹ 1,15,000"
4,4,Mahindra,Xuv500,2011-2015 W8 4WD,MANUAL,DIESEL,"90,000 km",Second,"Daryaganj, Delhi",2011,(2011),"₹ 5,00,000"
...,...,...,...,...,...,...,...,...,...,...,...,...
4616,4616,Maruti,Ritz,LDi,Manual,Diesel,"73,911 kms",2nd Owner,Serve No 40/AA 48/AA 49/AA Attapur To Nandimus...,2016,NaN,"2,86,500"
4617,4617,Maruti,Alto 800,LXI,Manual,Petrol,"19,864 kms",1st Owner,Serve No 40/AA 48/AA 49/AA Attapur To Nandimus...,2018,NaN,"2,84,500"
4618,4618,Maruti,Swift,VDI,Manual,Diesel,"58,569 kms",1st Owner,Serve No 40/AA 48/AA 49/AA Attapur To Nandimus...,2012,NaN,"3,59,000"
4619,4619,Tata,Tiago,XZA Plus,Automatic,Petrol,"15,346 kms",1st Owner,Serve No 40/AA 48/AA 49/AA Attapur To Nandimus...,2019,NaN,"5,72,500"
4620,4620,Mahindra,Kuv 100,mFALCON G80 K6 Plus,Manual,Petrol,"24,505 kms",1st Owner,Serve No 40/AA 48/AA 49/AA Attapur To Nandimus...,2017,NaN,"4,38,000"

Web Scrapping Complete.